/*
 * Specific styles of modal component
 */

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.scrollable {
  height: 450px;
  overflow: scroll;
  border: 0.5px;
  padding: 10px;
}

.action {
  height: 30px;
}

.center {
  text-align: center;
}

.inLine {
  display: inline-block;
}
