/* ====================
   #COMPONENT TOPBAR
   ==================== */

@import "../base";

.topbar {
  padding: 12px 0;
  background: $white;
  box-shadow: 0 0 0 1px rgba($primary, 0.02),
    0 1.65px 8px -2px rgba($primary, 0.08);

  &-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 0 1rem;
    height: 48px;

    > * {
      margin-right: $global-baseline * 2;
    }
  }

  #providerLogin {
    display: inline-block;
    margin-right: 10px;
    color: black;
  }

  #logout-btn {
    display: inline-block;
  }

  #logout-group {
    margin-top: 10px;
  }
}
