/* ====================
   #CORE SETTINGS
   ==================== */

$global-baseline: 6px !default;
$global-font-size: 16px !default;
$global-line-height: 24px !default;

$global-breakpoint-lg: 992px;
$global-breakpoint-md: 768px;
